/*
    Reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
    Now here is when interesting things start to appear.

    We set up <body> styles with default font and nice gradient in the background.
    And yes, there is a lot of repetition there because of -prefixes but we don't
    want to leave anybody behind.
*/
body {
    font-family: 'museo', georgia, serif;
    font-size: 60px;
    min-height: 740px;
    background: radial-gradient(#fff, #ccc);
    color: rgb(44, 44, 44);
}

.dark body {
    color: #fff;
    background: radial-gradient(#222, #111)
}

/*
    Now let's bring some text styles back ...
*/
b, strong {
	font-weight: bold;
}

/*
    ... and give links a nice look.
*/
a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;
    transition: 5s;
}

a:hover,
a:focus {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

table {
	width: 100%;
	text-align: left;
	table-layout: fixed;
}

tr {
	border-bottom: 1px solid #ccc;
	/*border-top: 1px solid #ccc;*/
}

th {
	color: #777;
	padding: 0 10px;
	border-right: 1px solid #ccc;
}

td {
	padding: 0 40px;
}

tfoot th {
	padding: 120px 10px 0 10px;
	font-weight: bold;
}

tfoot tr {
	border: none;
}

/*
    Citations
*/
blockquote {
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote::before {
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.4em;
    color: #CCC;
}

blockquote::after {
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.4em;
    color: #CCC;
}

blockquote + strong {
    float: right;
}

figure {
	text-align: center;
}

figure figcaption {
	margin-bottom: 1em;
	font-weight: bold;
}

figure p {
	margin-top: 1em;
	font-size: 50%;
}

/*
    Titles
 */

h2 {
    font-size: 115px;
    font-family: 'prenton-ultra-condensed', Impact, sans-serif;
    text-transform: uppercase;
}

h2 strong {
    transition: .5s 1s;
}

.dark h2 strong {
    color: #fff;
}

.active h2 strong {
    color: #cc3300;
}

.dark .active h2 strong {
    color: #ff44c0;
}

/*
    Now let's style the presentation steps.

    We start with basics to make sure it displays correctly in everywhere ...
*/

.step {
    position: relative;
    opacity: 0;
    margin: 0;
    width: 1000px;
    padding: 30px;
    box-sizing: border-box;
    line-height: 1.5;
    transition: opacity 1s;
	pointer-events: none;

    /* debug */
    /*background: rgba(255, 0, 0, .1);*/
}

.step.active {
    opacity: 1;
	pointer-events: auto;
}

.step.wide {
    width: 1280px;
}

.step.extra-wide {
    width: 1600px;
}

.step.center {
    text-align: center;
}

.step.center strong {
    display: block;
    margin-bottom: 1em;
}

.step.embed {
	width: 1280px;
	height: 1000px;
}

.step.embed > div {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 1680px;
	border: 30px solid #000;
	border-radius: 30px;
	-webkit-transform: translate(-50%, -50%);
	transition: 2s;
}

.step.embed > div::after {
	content: '';
	position: absolute;
	right: -25px;
	top: 50%;
	width: 20px;
	height: 20px;
	background-color: #555;
	border-radius: 50%;
}

.step.embed > div > div {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	background-color: #222;
	-webkit-transform: translateZ(0);
}

.step.embed > div::before {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 120%;
	height: 100%;
	background: linear-gradient(transparent, rgba(255, 255, 255, .1));
	-webkit-transform: translate3d(-20%, -60%, 0) rotate(-26deg);
	pointer-events: none;
}

.step.embed iframe {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.step.embed aside {
	position: absolute;
	top: 50%;
	left: -100px;
	width: 50px;
	height: 365px;
	text-align: center;
	-webkit-transform: translateY(-50%);
}

.step.embed button {
	display: block;
	margin: 5px;
	border: 1px solid #ccc;
	width: 40px;
	height: 40px;
	background-color: #fcfcfc;
	border-radius: 50%;
	outline: none;
	font-family: 'museo', georgia, serif;
	color: #333;
	cursor: pointer;
}

.step.embed button.is-active {
	border-color: #555;
}

.step em {
	font-weight: bold;
}

/*
	Common classes
*/
.fadeout {
	transition: 1s 4s;
}

.active .fadeout {
    opacity: .2;
}

.emphasis {
    display: inline-block;
    transition: 1s 2s;
}

.active .emphasis {
    -webkit-transform: translateY(10%) rotate(-10deg) scale(1.2);
}

.notes {
    display: none !important;
}

.rating {
	color: rgb(255, 194, 0);
	font-size: 150%;
	text-shadow: 0 0 10px #aaa;
}

.active h2 .rating {
	color: rgb(255, 194, 0);
}

.rating .half {
	position: relative;
	color: #ccc;
}

.rating .half::after {
	content: '★';
	position: absolute;
	left: 0;
	top: -13px;
	width: 45px;
	overflow: hidden;
	color: rgb(255, 194, 0);
	text-shadow: none;
}

/*
    <3
*/
.heart {
    width: 100%;
    text-align: center;
}

.heart img {
    margin: 0 .1em;
    vertical-align: middle;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-delay: 6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.inline-heart {
    letter-spacing: -8px;
}

/*
    Title type.
*/

.title {
    text-align: center;
}

/*
    Photo type.
*/

.photo {
    width: auto;
    opacity: 0;
    /*box-shadow: 0 0 20px #000;*/
    transition: 1s .5s;
}

.active .photo {
    opacity: 1;
}

/*
    Number type.
*/

.number {
    opacity: 0;
}

/*.number.past {*/
    /*opacity: .3;*/
/*}*/

.number q strong {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transition: 1s 2s;
    -webkit-transform: translate(-50%, -50%);
    font-family: 'prenton-ultra-condensed', Impact, sans-serif;
    font-size: 600%;
    text-shadow: 0 0 5px #000;
    color: #cc3300;
}

.number.active q strong,
.number.past q strong {
    -webkit-transform: translate(-150%, -50%) scale(.7);
}

.number q span {
    display: block;
    transition: 1s 2s;
    opacity: 0;
    -webkit-transform: translateX(-50%);
}

.number.active q span,
.number.past q span {
    opacity: 1;
    -webkit-transform: translateX(25%);
}

.number a {
    position: fixed;
    left: 0;
    bottom: 0;
}

/* right mod */

.number-right.active q strong,
.number-right.past q strong {
    -webkit-transform: translate(50%, -50%) scale(.7);
}

.number-right q span {
    text-align: right;
}

.number-right.active q span,
.number-right.past q span {
    opacity: 1;
    -webkit-transform: translateX(-25%);
}

/* top mod */

.number-top.active q strong,
.number-top.past q strong {
    -webkit-transform: translate(-50%, -110%) scale(.7);
}

.number-top q span {
    text-align: center;
}

.number-top.active q span,
.number-top.past q span {
    opacity: 1;
    -webkit-transform: translateX(0);
}

/* static mod */

.number-static q strong {
	width: 50%;
	text-align: center;
}

.number-static.active q strong {
	-webkit-transform: translate(-50%, -50%);
}

/*
    Tag cloud type.
*/

.tag-cloud {
    height: 900px;
}

.tag-cloud span {
    position: absolute;
    opacity: 0;
    font-family: 'prenton-ultra-condensed', Impact, sans-serif;
    text-transform: uppercase;
    text-shadow: 0 0 2px #000;
    transition: 1s;
    -webkit-transform: translate(-1000px, -50%);
}

.tag-cloud.active span {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) !important;
}

.tag-cloud span:nth-child(1) {
    font-size: 150%;
    top: 65%;
    left: 70%;
    color: #777;
    transition-delay: 1s;
}

.tag-cloud span:nth-child(2) {
    font-size: 100%;
    top: 35%;
    left: 70%;
    color: #AAA;
    transition-delay: 1.5s;
}

.tag-cloud span:nth-child(3) {
    font-size: 200%;
    top: 30%;
    left: 30%;
    color: #666;
    transition-delay: 2s;
}

.tag-cloud span:nth-child(4) {
    font-size: 200%;
    top: 70%;
    left: 30%;
    color: #444;
    transition-delay: 2.5s;
}

.tag-cloud span:nth-child(5) {
    font-size: 150%;
    top: 80%;
    left: 70%;
    color: #999;
    transition-delay: 3s;
}

.tag-cloud span:nth-child(6) {
    font-size: 300%;
    top: 50%;
    left: 50%;
    color: #cc3300;
    transition-delay: 5s;
    -webkit-transform: translate(-50%, -50%) scale(2);
}

/** right mod */

.tag-cloud-right span {
    -webkit-transform: translate(1000px, -50%);
}

/*
    Graphic type.
*/

.graphic {
    padding: 0;
    height: 900px;
}

.graphic ul {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.graphic li {
    position: absolute;
    color: #777;
    -webkit-transform: translate(-50%, -50%);
}

.graphic strong {
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
}

.graphic strong:first-of-type {
	top: 50%;
	left: -15%;
}

.graphic strong:last-of-type {
	top: -15%;
	left: 45%;
}

/* rect mod */

.graphic-rect {
    height: 625px;
}

/* small legend mod */

.graphic-small-legend {
	font-size: 80%;
}

/*
	 Table type.
*/
.table {
	text-align: center;
}

.table strong {
	display: block;
	margin-bottom: 75px;
}

.table sup {
	display: inline-block;
	margin-left: 10px;
	color: rgb(44, 44, 44);
	font-size: 70%;
	font-weight: bold;
	top: -50%;
	-webkit-transform: translateY(-50%);
}